POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DATABASE=

DB_LOGGING="false"
NODE_ENV="staging || development || production" 
JWT_SECRET=

EXPLORER_URI=
ALCHEMY_URI=
FRONT_END_URI=
SUBSCRIPTION_URI=

BRIDGE_API_URI=
BRIDGE_API_KEY=

USDC_CONTRACT_ADDRESS="0x566368d78dbdec50f04b588e152de3cec0d5889f"
USDC_POOL_PRIVATE_KEY=

CHECKOUT_PROCESSING_CHANNEL_ID=
CHECKOUT_PUBLIC_KEY=
CHECKOUT_SECURE_KEY=
